@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-Regular.woff") format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-Bold.woff") format(woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-DemiBold.woff") format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body{
    width:320px;    
    font-family: TTLakes,serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.2px; 
    line-height: 24px; 
    box-shadow: 16px 0px 52px 0px #0E185033,
    -2px 0px 4px 0px #454F7E05;
}

aside{
    display: flex;
    flex-direction: column;  
    height:100vh; 
}

.header-list{
    display: flex;
    justify-content: flex-start;
    gap:20px; 
    align-items: center;  
    padding: 20px ; 
    list-style-type: none;    
    background-repeat: no-repeat;
}

.round-icon {
    display: block;
    border-radius: 50%;    
    width: 40px;
    height: 40px;
    transform:scale(1);
    transition: transform 500ms;
    background-repeat: no-repeat;    
}

.round-icon:hover, .round_icon:focus {
    transform:scale(1.2);
    transition: transform 500ms;
}

.round-icon_burger {      
    background-image: url(ic/burger.png);   
}

.group {
    width: 98px;
    height: 52px; 
}

.round-icon_search{
    background-image: url(ic/search.png);
    margin-left:auto;
}

.nav-list{ 
    display:flex;
    flex-direction: column;
    gap:20px;
    margin: 0; 
    padding: 0;
    padding-top:20px;
    padding-bottom:10px ;
    overflow: auto; 
}

.nav-list__item{
    display: inline-block;
    height:40px;
    padding: 0;
}

.link-btn  {
    display: block;
    padding: 10px 20px;  
    color:#1B1C21;
    white-space: nowrap;
    font-size: 16px;
    letter-spacing: -0.2px; 
    line-height: 24px;     
}
 
.link-btn:hover, .link-btn:focus {
    color: #7E7E82;
    background-image: url(ic/highlight.png); 
    background-repeat: no-repeat; 
    background-position: center left; 
}
 
.footer{
    display: flex;
    flex-direction: column;
    margin-top:auto;
}

.footer-nav{
    margin:0;
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    padding: 20px ; 
    gap: 20px;
    list-style-type: none;  
    background-image: no-repeat; 
}

.round-icon_call {
    background-image: url(ic/call.png); 
}

.round-icon_chat {
   background-image: url(ic/chat.png);
} 
  
.round-icon_profile {
    background-image: url(ic/profile.png);  
}

.contacts{
    padding: 20px;
    padding-top: 0;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__number{
    width: 185px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6;
    font-weight: bolder;
}

.contacts__email{
    width:110px;
}

.langs{
    display:flex;
    padding: 20px;
    gap:10px;
}
